
// ---------------------------------------------------------------------------
// ---------------------------------------------------------------------------
// NEW variables specific to fry
// or OVERRIDES those set in USWDS-provided `_defaults.scss`

// ---------------------------------------------------------------------------
// Sizing Units

$size-base          : .4rem;            // 4px
$size-small         : $size-base * 2;   // 8px
$size-default       : $size-base * 3;   // 12px
$size-medium        : $size-base * 6;   // 24px
$size-large         : $size-base * 9;   // 36px
$size-extra-large   : $size-medium * 2; // 48px

$site-max-width: 1200px;

// ---------------------------------------------------------------------------
// Colors
$color-fry-green: #4d868e;
$color-fry-light-green: #bdd8db;
// Core Colors
$color-fry-primary: #4e4084;
$color-fry-primary-300: tint($color-fry-primary, 25%);
$color-fry-primary-200: tint($color-fry-primary, 65%);
$color-fry-primary-100: tint($color-fry-primary, 85%);
$color-fry-primary-900: shade($color-fry-primary, 25%);

$color-fry-secondary: $color-primary-darker;
$color-fry-secondary-300: tint($color-fry-secondary, 25%);
$color-fry-secondary-200: tint($color-fry-secondary, 60%);
$color-fry-secondary-100: tint($color-fry-secondary, 85%);
$color-fry-secondary-900: shade($color-fry-secondary, 25%);

$color-fry-tertiary: $color-gray-warm-dark;
$color-fry-tertiary-300: tint($color-fry-tertiary, 24%);
$color-fry-tertiary-200: tint($color-fry-tertiary, 70%);
$color-fry-tertiary-100: tint($color-fry-tertiary, 90%);
$color-fry-tertiary-900: shade($color-fry-tertiary, 35%);

// Accent Colors
$color-fry-aqua: $color-primary-alt-dark;
$color-fry-aqua-300: $color-primary-alt;
$color-fry-aqua-200: $color-primary-alt-light;
$color-fry-aqua-100: $color-primary-alt-lightest;
$color-fry-aqua-900: $color-primary-alt-darkest;

$color-fry-red: $color-secondary-dark;
$color-fry-red-300: tint($color-secondary-dark, 35%);
$color-fry-red-200: tint($color-secondary-dark, 70%);
$color-fry-red-100: tint($color-secondary-dark, 88%);
$color-fry-red-900: $color-secondary-darkest;

// Base
$color-base:  $color-fry-tertiary-900;
$color-white: #fff;
$white: $color-white;
$color-black: #000;
$color-fry-white: $color-white; // Just in case
$color-fry-black: $color-black; // Just in case
$color-fry-base: $color-base;

$color-fry-link: $color-primary;
$color-fry-link-hover: $color-cool-blue;
$color-fry-link-visited: $color-visited;

// Semantic
$color-title: $color-fry-tertiary;
$color-fry-site-bg: tint($color-fry-secondary, 97%); // Super light gray bg, but with a slight tint of blue

// ---------------------------------------------------------------------------
// Typography

// Font Size Scale
$font-size-0 : $h6-font-size;    // 13
$font-size-1 : $small-font-size; // 14
$font-size-2 : $h5-font-size;    // 15
$font-size-3 : $base-font-size;  // 17
$font-size-4 : $h3-font-size;    // 20
$font-size-5 : $h2-font-size;    // 30
$font-size-6 : $h1-font-size;    // 40
$font-size-7 : $title-font-size; // 52

$lead-font-size: $font-size-4;
$lead-line-height: 1.7;

$font-sans:  'Source Sans Pro', $helvetica;
$font-serif: 'Merriweather', $georgia;
$font-mono:  "Bitstream Vera Sans Mono", "Consolas", "Menlo", "Monaco", "Courier New", "Courier", monospace;

$font-base:  $font-sans;

$font-light:  300;
$font-normal: 400;
$font-bold:   700;

// ---------------------------------------------------------------------------
// Forms

$fry-form-width: 40rem;

$form-font                     : $font-sans;
$form-text-size                : $font-size-3;
$form-text-size--sm            : $font-size-2;
$form-text-size--lg            : $font-size-4;
$form-text-color               : $color-fry-base;
$form-text-color-disabled      : tint($form-text-color, 40%);
$form-placeholder-color        : $color-fry-tertiary-200;
$form-outline-color            : $color-fry-tertiary-200;
$form-focus-color              : $color-fry-secondary-300;

$form-error-color              : $color-fry-red;
$form-error-color-focus        : $color-fry-base;
$form-error-color-bg           : $color-fry-red-100;

$form-positive-color           : $color-green; // Note this isn't $color-fry-primary
$form-positive-color-focus     : $form-focus-color;
$form-positive-color-bg        : $color-white;

$form-disabled-bg-color        : transparent;
$form-border-radius            : 0; // currently zero, but play with this if you want

$form-checkbox-radio-outline-color : shade($form-outline-color, 30%);
$form-checkbox-radio-fill      : $color-fry-secondary;
$form-checkbox-fill            : $color-fry-secondary;
$form-radiocheckbox-size       : 1.8rem;
$form-padding                  : $size-small;
$form-select-bgc               : orangered;
$form-between-space            : $size-base + ($size-base / 2);

// ---------------------------------------------------------------------------
// fry Grid Settings

$fry-grid-gutter: ($base-font-size * 1.5);
$fry-grid-columns: 12;
