////////////////////////////////////////////////////////////////////////
// Text Fields

// Mostly a straight copy of USWDS checkbox and radio elements,
// with a few adjustments

.fry-form-list {

  @include reset-ul();

  > li {
    @include reset-li();
    margin-top: .5em;
  }

}

.fry-checkbox,
.fry-radio {

  // @include sr-only();
  position: absolute;
  opacity: 0;
  cursor: pointer;

  .lt-ie9 & {
    border: 0;
    float: left;
    margin: .4em .4em 0 0;
    position: static;
    width: auto;
    opacity: 1;
  }

}

.fry-checkbox +  label,
.fry-radio + label,
.fry-checkbox + [type="hidden"] + label,
.fry-radio + [type="hidden"] + label {

  $indent-amount: 1.7em;
  cursor: pointer;
  font-weight: $font-normal;
  text-indent: -$indent-amount;
  margin-left: $indent-amount;
  margin-right: $size-default;
  display: inline-block;

}

.fry-checkbox + :not(label),
.fry-radio + :not(label) {
  &:before {
    display: block;
    background-color: $color-fry-tertiary-200;
    padding: $size-default;
    margin-bottom: 1em;
    content: 'CSS ERROR: checkbox or radio requires a <label> element immediately following it. Refer to fry Design System for guidance. ';
    color: orangered;
    border: 4px solid orangered;
    font-size: 2rem;
    font-weight: bold;
  }
}

.fry-radio + label,
.fry-radio + [type="hidden"] + label {
  $indent-amount: 1.6em;
  text-indent: -$indent-amount;
  margin-left: $indent-amount + .1em;
}

.fry-checkbox + label::before,
.fry-radio + label::before,
.fry-checkbox + [type="hidden"] + label::before,
.fry-radio + [type="hidden"] + label::before {

  background: white;
  border-radius: $border-radius;
  box-shadow: 0 0 0 1px $form-checkbox-radio-outline-color;
  content: '\a0';
  display: inline-block;
  height: 1.8rem;
  line-height: .8;
  margin-right: .6em;
  text-indent: .15em;
  vertical-align: .2em;
  width: 1.8rem;
  margin-left: .1rem;

  .lt-ie9 & {
    display: none;
  }

}

.fry-radio + label::before,
.fry-radio + [type="hidden"] + label::before {
  box-shadow: 0 0 0 2px $color-white, 0 0 0 3px $form-checkbox-radio-outline-color;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 100%;
}

.fry-checkbox:indeterminate + label::before,
.fry-checkbox:checked + label::before,
.fry-radio:checked + label::before,
.fry-checkbox:indeterminate + [type="hidden"] + label::before,
.fry-checkbox:checked + [type="hidden"] + label::before,
.fry-radio:checked + [type="hidden"] + label::before {
  background-color: $form-checkbox-radio-fill;
  box-shadow: 0 0 0 1px $form-checkbox-radio-fill;
}

.fry-radio:checked + label::before,
.fry-radio:checked + [type="hidden"] + label::before {
  // scss-lint:disable all
  box-shadow:
    0 0 0 2px $color-white,
    0 0 0 4px $form-checkbox-radio-fill
  ;
}

.fry-radio:focus + label::before,
.fry-radio:focus + [type="hidden"] +  label::before {
  // scss-lint:disable all
  box-shadow:
    0 0 0 .2rem $color-white,
    0 0 0 .4rem $form-checkbox-radio-fill,
    0 0 .3rem .4rem $color-focus,
    0 0 .7rem .4rem $color-focus
  ;
}

.fry-checkbox:checked + label::before,
.fry-checkbox:checked + [type="hidden"] + label::before {
  background-image: url('#{$image-path}/correct8.png');
  background-image: url('#{$image-path}/correct8.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

.fry-checkbox:indeterminate + label::before,
.fry-checkbox:indeterminate + [type="hidden"] + label::before {
  background-image: url('#{$image-path}/dash.png');
  background-image: url('#{$image-path}/dash.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

.fry-checkbox:focus + label::before,
.fry-checkbox:focus + [type="hidden"] + label::before {
  box-shadow: 0 0 0 1px $color-white, 0 0 0 3px $form-checkbox-radio-fill;
}

.fry-checkbox:disabled + label,
.fry-radio:disabled + label,
.fry-checkbox:disabled + [type="hidden"] + label,
.fry-radio:disabled + [type="hidden"] + label {
  color: $form-text-color-disabled;
  cursor: not-allowed;
}

.fry-checkbox:disabled + label::before,
.fry-radio:disabled + label::before,
.fry-checkbox:disabled + [type="hidden"] + label::before,
.fry-radio:disabled + [type="hidden"] + label::before {
  background-color: $form-disabled-bg-color;
  cursor: text;
  cursor: not-allowed;
  opacity: .5;
}

.fry-radio:disabled + label::before,
.fry-radio:disabled + [type="hidden"] + label::before {
  // scss-lint:disable all
  box-shadow:
    0 0 0 2px $white,
    0 0 0 3px $form-checkbox-radio-outline-color
  ;
}

.fry-radio:disabled:checked + label::before,
.fry-radio:disabled:checked + [type="hidden"] + label::before {
  background-color: $form-checkbox-radio-fill;
  // scss-lint:disable all
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 4px $form-checkbox-radio-fill
  ;
  opacity: .3;
}

.fry-checkbox:disabled:checked + label::before,
.fry-checkbox:disabled:checked + [type="hidden"] + label::before {
  background-color: $form-checkbox-radio-fill;
  box-shadow: 0 0 0 1px $form-checkbox-radio-fill;
  opacity: .3;
}
